/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

body {
    background-color: hsl(185, 41%, 84%);
}

.tip-card {
    width: 920px;
    height: 480px;
    padding: 32px 32px 32px 50px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
}

.content-tip-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-tip-information {
    color: hsl(183, 100%, 15%);
    font-size: 16px;
}

.input-information {
    width: 380px;
    height: 48px;
    border: none;
    background-color: hsl(189, 41%, 97%);
    cursor: pointer;
    outline: none;
    margin-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}

.icon-dollar{
    background-image:url('./images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 15px;
}

.icon-person {
    background-image:url('./images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 15px;
}

.select-tip-button {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
    margin-top: 12px;
}

.button-tip {
    width: 118px;
    height: 48px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.button-tip-custom {
    width: 118px;
    height: 48px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: hsl(189, 41%, 97%);
    cursor: pointer;
    outline: none;
}

.button-tip-custom::placeholder {
    color: hsl(186, 14%, 43%);
    text-align: center;
}

.tip-information {
    width: 415px;
    height: 415px;
    display: flex;
    padding: 15px 0px 15px 0px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

/* ---------------------------------------------------*/

.tip-result {
    width: 415px;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 62px 42px 40px 42px;
    background-color: hsl(183, 100%, 15%);
    border: 1px solid black;
}

.tip-amount, .tip-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-amount {
    margin-bottom: 15px;
}

.p-tip-result-name {
    color: hsl(189, 41%, 97%);
}

.p-tip-result-person {
    color: hsl(184, 14%, 56%);
    font-size: 14px;
}

.p-tip-result {
    color: hsl(172, 67%, 45%);
    font-size: 46px;
}

.button-reset {
    width: 335px;
    height: 48px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: hsl(183, 100%, 15%);
    background-color: hsl(187, 38%, 28%);
}

.button-reset:hover {
    background-color: hsl(172, 67%, 45%);
}